<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Recommendation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        /* Specific styling for the button on the landing page */
        .center-button {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Car Recommendation System</h1>
        <br>
        <div class="center-button">
            <a href="{{ url_for('recommendation') }}"><button>Continue</button></a>
        </div>
    </div>
</body>
</html>
